.vs/
*.tlog
*.log
*.pdb
*.idb
*.ilk
*.exe
*.ipch
*.pch
*.VC.db
*.suo
*.opendb
Qwerk_Engine/Debug/
Qwerk_Engine/Release/
Engine_Components/RenderingEnv/.vs/
Engine_Components/RenderingEnv/Debug/
Qwerk_Engine/QwerkE_Win32/Debug/
Engine_Components/RenderingEnv/instrumentor_log.json
instrumentor_log.json