// #TODO Update .gitignore data
.vs/
/bin
/Assets/Shaders/Bin
/Assets/Meshes/Bin
/Source/Libraries/bgfx/build

*.tlog
*.log
*.pdb
*.idb
*.ilk
*.ipch
*.pch
*.VC.db
*.suo
*.opendb
// *.obj // Include mesh files, but still need to avoid committing .obj code compilation files

*.dll
!QwerkE_Framework/Libraries/**/*.dll

// Profiler log file
instrumentor_log.json

// imgui config file can stay for convenience purposes
// imgui.ini

# Documentation
Documentation/.obsidian/workspace.json
// Symlink of root README.md file
Documentation/README.md

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
// *.obj // Include mesh files, but still need to avoid committing .obj code compilation files

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!Source/Libraries/glfw/glfw3.lib

# Executables
*.out
*.app
*.exe
!Premake5.exe

# Visual Studio
// *.filters // Useful to share
.vs/
*x64
*x86
*Debug
*Release
*.recipe
*.enc
*.sln
*.vcxproj
*.user

# Local only special exclude
*❗*

# Additional Misc.
*.tlog
*.log
*.pdb
*.idb
*.ilk
*.ipch
*.VC.db
*.suo
*.opendb
*.lnk

# .bat files
START HERE.bat
// *.bat
!CleanupBuildFiles.bat
!Setup-Windows-Vs2022.bat
!CopyLibraryDLLs.bat
!Cleanup.bat
!SetupSymlinks.bat

# Local only
/Game/Assets/Scenes/Backup
/Editor/Assets/Backup

# Forced add commit files (git add -f "file.txt")
*.ini
Assets/Projects/Project1.qproj
Assets/Settings/EditorWindowData.qdata

# Ignored files: git update-index --skip-worktree <file path>
# IGNORED FILES HERE
# To Resume: git update-index --no-skip-worktree <file path>

# Recovery files
/enc_temp_folder
