.vs/

*.tlog
*.log
*.pdb
*.idb
*.ilk
*.exe
*.ipch
*.pch
*.VC.db
*.suo
*.opendb
*.obj

*.dll
!QwerkE_Framework/Libraries/**/*.dll

// Symlink of root README.md file
// Documentation/README.md

// Profiler log file
instrumentor_log.json

// imgui config file can stay for convenience purposes
// imgui.ini

// Local build files
Debug/*
Release/*
x86/*
x64/*

*❗*

// Development branches
// rem Try to make a subdirectory delete for all Debug/* sub directories
Development/RenderingEnv/.vs/
Development/RenderingEnv/Debug/*
Development/RenderingEnv/Release/*
Development/Games/Test_Game1/Debug/
Development/Games/Test_Game1/Release/